html, body {
  height: 100%;
  width: 100%;
}

p {
  color: steelblue;
}

h2 {
  color: blueviolet;
}

.title{
  color: rgb(0,0,255);
}

.first-paragraph{
  color: black;
}


/* h2 + p{
  color: black;
}

ul > li{
  color: purple;
} */